/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

.page.theme-dark {
  --font-color: #00CC14;
  --background-color: black;
  --pattern-color: url("../svg/pattern-dark.svg");
}

.page.theme-light {
  --font-color: black;
  --background-color: white;
  --pattern-color: url("../svg/pattern-light.svg");
}

@media (prefers-color-scheme: dark) {
  :root {
    --font-color: #00CC14;
    --background-color: black;
    --pattern-color: url("../svg/pattern-dark.svg");
  }

  .favicon {
    fill: #00CC14;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --font-color: black;
    --background-color: white;
    --pattern-color: url("../svg/pattern-light.svg");
  }

  .favicon {
    fill: black;
  }
}