/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --font-color: #00CC14;
  --background-color: black;
  --net-color:  repeating-linear-gradient(to right, #000, transparent 2px),
  repeating-linear-gradient(to bottom, #000, transparent 2px),
  repeating-linear-gradient(to right, #007f0c, #004306);
  --variation-wght-text: 465;
  --variation-wght-title: 785;
}