/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --font-color: #00CC14;
  --background-color: black;
  --pattern-color: url("../svg/pattern-dark.svg");
  --variation-wght-text: 485;
  --variation-wght-title: 785;
}